{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>Analysis</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <h1 style="text-align:center;">Analysis</h1>
    <h3 style="text-align:center;">Average Sentiment Score: {{average_score}}</h3>
    <h3 style="text-align:center;">Largest Sentiment Score: {{max_score}} ({{max_date.date()}})</h3>
    <h3 style="text-align:center;">Smallest Sentiment Score: {{min_score}} ({{min_date.date()}})</h3>
    {% endblock %}
</body>
</html>