{% extends 'base.html' %}

{% block head %}
<title>Happy Diary</title>
{% endblock %}

{% block body %}
<div class="header" style="background-color: dimgray; width: 100%; padding: auto;">
    <h1 style="text-align: center;">Happy Diary</h1>
</div>
<div class="content" style="background-color: white;">
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no diary. Write one below!</h4>
    {% else %}
    <table>
        <tr style="background-color: dimgray; color: white; font-weight: bold;">
            <th>Diary</th>
            <th>Sentiment</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.sentiment }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
    <div>{{ average_score }}</div>
    <div class="form">
        <form action="/" method="POST">         
            <div style="display:flex; justify-content:center;">
                <textarea type="text" name="content" id="content", style="height:25vh; width:50vw;"></textarea>
            </div>
            <div style="display:flex; justify-content:center;">
                <input type="submit" value="Add Diary" style="background-color:rgb(91, 91, 241); color:black; padding:.125vh .25vw; font-size:medium; font-weight:bold; font-size:1em; margin:5%; border-radius: 25px;">
                <a href="/analysis" style="background-color:rgb(91, 91, 241); color:black; padding:.125vh .25vw; font-size:medium; font-weight:bold; font-size:1em; margin:5%; border-radius: 25px; text-decoration:none; border: solid black;">Analysis</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}